
form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:50px 0px !important;
    margin-bottom: 100px;
    padding: 70px;

}
.container-body{
    /* padding: 70px; */
    padding-top: 70px;
}
.text-menu{
    height: 60px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.span-text{
    font-size: 15pt;
    margin-left: 1rem;
}

@media screen and (max-width: 1199px){
    .main-body {
        padding-top: 2rem;
        padding-bottom: 100px;
    }
}
.main-body {
    margin: 0 auto;
    width: 100vw;
    font-size: 1rem;
}
.tt-text-menu {
    height: 60px;
    background-color: #F8F8F8;
}
/* .container-output{

        margin-top: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding:  50px;
} */
